*assets*

*.pdf
*.indd
*.ai
*.tiff
*.jpg
*.jpeg
*.psd

*.mp4
*.m4a
*.mov

*.mp3
*.wav


*.zip
*.dmg

*.crdownload
*btsync*

*.tmproj
/content/

/sources/

/tools/separate-2/scan

/tools/separate-2/result

/tools/separate-2/cache

/tools/separate-2/result-test/

cache-*

*.cache

*.DS_Store

*.mpc
