*assets*

/content/
/sources/
/tools/separate-2/scan
/tools/separate-2/result
/tools/separate-2/cache
/tools/separate-2/result-test/

cache-*

*.cache
*.pdf
*.indd
*.ai
*.tiff
*.jpg
*.jpeg
*.psd
*.mp4
*.m4a
*.mov
*.mp3
*.wav
*.zip
*.dmg
*.tmproj
*.mpc
*.png

*.crdownload
*btsync*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
